{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'market/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main-wrapper" class="overflow-hidden posit-header">
        <div id="header-wrap">
        <div class="header-top-menu bg-black color-secondary">
            <div class="container">
                <div class="row">
                    <div class="wrap flex-container padding-small">
                    <div class="contact-block">
                        <span class="pr-50"><i class="icon icon-phone"></i>8-778-928-89-47</span>
                        <span class="color-secondary"><i class="icon icon-envelope-o"></i><a href="#">ablai.shymside@gmail.com</a></span>
                    </div>
    
                    <div class="header-top-right">
                        <ul class="list-unstyled d-flex color-secondary">
                            <li class="pr-50"><a href="reg.html">Регистрация</a></li>
                            <li class="pr-50"><a href="login.html">Вход</a></li>
    
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <header>
            {% for m in menu %}
    

            <div><a href="{% url m.url %}">{{ m.title }}</a></div>

            {% endfor %}
        </header>
        <h1>О нас</h1>
</body>
</html>